.wrap {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  box-sizing: border-box;

  h3 {
    font-size: var(--fs-24);
    font-weight: bold;
  }
  .acc_1 {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .acc_multi {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
  }
}
