h2.MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root {
  width: calc(100% - 4.8rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-28);
  font-weight: bold;
}

.btn_close {
  width: 3.2rem;
  button {
    width: 100%;
    padding: 0 !important;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

// contents
.MuiDialogContent-root {
  width: 100%;
  word-break: break-all;
  box-sizing: border-box;
}
