//제목 영역 박스
.title_box {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  box-sizing: border-box;
  border-top: 1px solid var(--gray-1000);

  .chip_box {
    display: flex;
    gap: 5px;
    span {
      width: fit-content;
    }
  }

  .title {
    font-weight: bold;
    font-size: var(--fs-30);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  //   제목 밑 글 정보
  .detail_info_bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    li {
      display: flex;
      padding-right: 2rem;
      margin-right: 1.4rem;
      border-right: 1px solid #333;

      &:last-of-type {
        border-right: 0;
      }

      p {
        &:first-of-type {
          font-weight: 500;
          margin-right: 1rem;
        }
        &:last-of-type {
          color: var(--gray-800);
        }
      }
    }
  }
}

// content 영역
.text {
  border-bottom: 1px solid var(--gray-500);
  border-top: 1px solid var(--gray-500);
}

//첨부파일
.file_box_wrap {
  display: flex;
  gap: 1rem;
  padding: 3rem 0;
  box-sizing: border-box;
  align-items: flex-start;
  .attach_txt {
    width: 56px;
    font-size: var(--fs-16);
    padding-top: 7px;
    box-sizing: border-box;
  }
  .attached_files {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      display: flex;
      gap: 2rem;
      font-size: var(--fs-16);
      align-items: center;

      .btn_file_down {
        display: flex;
        gap: 3px;
        color: var(--gray-800);

        &:hover {
          span {
            &:first-of-type {
              text-decoration: underline;
            }
            color: var(--gray-1000);
          }
        }
      }
    }
  }
}

//이전글, 다음글
.prev_next_cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid var(--gray-1000);
  border-bottom: 1px solid var(--gray-1000);
  padding: 2.25rem 0;
  box-sizing: border-box;

  li {
    display: flex;
    align-items: center;
  }
}

// 반응형 모바일
@media screen and (max-width: 640px) {
  //제목 영역 박스
  .title_box {
    .title {
      font-size: var(--fs-20);
    }

    //   제목 밑 글 정보
    .detail_info_bottom {
      flex-direction: column;
      font-size: var(--fs-14);
      li {
        border-right: none;
      }
    }
  }

  // content 영역
  .text {
    font-size: var(--fs-14);
  }

  //첨부파일
  .file_box_wrap {
    flex-direction: column;

    .attached_files {
      gap: 1.5rem;
      li {
        font-size: var(--fs-14);
        flex-direction: column;
        align-items: baseline;
        gap: 1rem;
        .btn_file_down {
          &:hover {
            span {
              &:first-of-type {
              }
            }
          }
        }
      }
    }
  }

  //이전글, 다음글
  .prev_next_cont {
    li {
      .prev_title,
      .next_title {
        display: none;
      }
    }
  }
}
