.chip {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-100);
  color: var(--gray-1000);
  box-sizing: border-box;
  position: relative;

  // size
  &.xsm {
    height: 2.8rem;
    font-size: var(--fs-14);
    padding: 0 1rem;
  }
  &.sm {
    height: 3.2rem;
    padding: 0 1.2rem;
  }
  &.md {
    // 기본 사이즈
    height: 4.4rem;
    padding: 0 2rem;
  }
  &.lg {
    height: 5.6rem;
    font-size: var(--fs-18);
    padding: 0 2.4rem;
  }
  &.xlg {
    height: 6.4rem;
    font-size: var(--fs-18);
    padding: 0 3rem;
  }

  /* color */
  // 기본 컬러
  &.white {
    border: 1px solid var(--gray-300);
  }
  &.blackBorder {
    border: 1px solid var(--gray-1000);
  }
  &.black {
    border: 1px solid var(--gray-1000);
    background-color: var(--gray-1000);
    color: var(--gray-100);
  }
  &.mainColor {
    background-color: var(--mcolor);
    border: 1px solid var(--mcolor);
    color: var(--gray-100);
  }
  &.mainColorBorder {
    border: 1px solid var(--mcolor);
    color: var(--mcolor);
  }
  &.red {
    border: 1px solid var(--error);
    color: var(--error);
  }

  /* border */
  &.br_square_round_1 {
    border-radius: var(--br-3);
  }
  &.br_square_round_2 {
    &.xsm {
      border-radius: var(--br-8);
    }
    &.sm {
      border-radius: var(--br-10);
    }
    &.md {
      border-radius: var(--br-12);
    }
    &.lg {
      border-radius: var(--br-14);
    }
    &.xlg {
      border-radius: var(--br-16);
    }
  }
  &.br_round {
    border-radius: var(--br-50);
  }

  // disabled
  &.disabled {
    background-color: var(--gray-200) !important;
    color: var(--gray-600) !important;
    border: solid 1px var(--gray-200) !important;
    cursor: default !important;
  }
}

.tooltip_box {
  position: absolute;
  z-index: 999;
  background-color: var(--gray-100);
  width: 100%;
  top: 100%;
  left: 0;
  color: var(--gray-1000);
  padding: 1rem;
  box-sizing: border-box;
  // border: 1px solid var(--error);
  border-radius: var(--br-8);
  box-shadow: 0px 2px 2px 2px var(--gray-600);
  transition: all 0.3s;
  font-size: var(--fs-14);
  &.none {
    // display: none;
    opacity: 0;
  }
  &.block {
    // display: block;
    opacity: 1;
  }

  &.top {
    top: calc(-100% - 5px);
    left: 0;
  }

  &.bottom {
    top: calc(100% + 5px);
    left: 0;
  }
  &.left {
    top: 0;
    left: calc(-100% - 5px);
  }
  &.right {
    top: 0;
    left: calc(100% + 5px);
  }
}
// 반응형
// 모s바일
@media screen and (max-width: 768px) {
  input.inp {
    font-size: var(--fs-14);
  }
}
