form {
  width: calc(100% - 50px);
  height: auto;
  margin: 10px auto;
  box-sizing: border-box;
  border: 1px solid black;

  button {
    width: 100px;
    height: 50px;
    border: 1px solid purple;
  }
}
