.box {
  padding: 3rem;
  margin-bottom: 5rem;
  box-sizing: border-box;

  h3 {
    font-size: var(--fs-36);
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }
}
