.file_input {
  width: 85px;
  display: inline-block;
}

.file_area {
  border: 1px var(--gray-700) dashed;
  height: 12rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: var(--br-10);

  &.over {
    border: 1px solid var(--mcolor);
    color: var(--mcolor);
    background-color: rgba(31, 80, 255, 0.1);
  }
}

.disabled_div {
  border: 1px var(--gray-500) dashed;
  height: 12rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: var(--br-10);
  background-color: var(--gray-200);
}

.file_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 1rem;
  li {
    display: flex;
    justify-content: space-between;
    color: var(--gray-800);
    border: 1px solid var(--gray-300);
    padding: 12px 24px;
    border-radius: var(--br-10);

    &:hover {
      border-color: var(--mcolor);
      color: var(--mcolor);

      .ver_line {
        background-color: var(--mcolor);
      }

      .file_name {
        color: var(--mcolor);
      }
    }
    .del_btn {
      color: var(--gray-800);
      &:hover {
        color: var(--mcolor);
      }
    }

    div {
      display: flex;
      gap: 6px;
      align-items: center;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ver_line {
      height: 80%;
      width: 1px;
      background-color: var(--gray-800);
      margin: 0 0.5rem;
    }
    .file_name {
      //max-width: 70%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &.download:hover {
        text-decoration: underline;
        color: var(--mcolor);
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
}
