.file_input {
  width: 85px;
  display: inline-block;
}

.files_box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 1rem;
  border: 1px solid var(--gray-300);
  border-radius: 0;
  position: relative;

  .btn_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 1rem;
  }

  &.md {
    // min-height: 2.4rem;
    padding: 0.7rem 1.4rem;
    & > button {
      width: 96px !important;
    }
    & > ul {
      max-height: 13.2rem;
      font-size: var(--fs-16);
      width: calc(100% - 106px);
    }
  }
  &.lg {
    // min-height: 3.2rem;
    padding: 1.1rem 1.8rem;
    & > button {
      width: 111px !important;
    }
    & > ul {
      max-height: 17.4rem;
      font-size: var(--fs-18);
      width: calc(100% - 121px);
    }
  }
  &.xlg {
    // min-height: 4.4rem;
    padding: 0.9rem 2rem;
    & > button {
      width: 127px !important;
    }
    & > ul {
      max-height: 19.8rem;
      font-size: var(--fs-18);

      width: calc(100% - 137px);
    }
  }
  /* border */
  &.br_square_round_1 {
    border-radius: var(--br-3);
  }
  &.br_square_round_2 {
    &.md {
      border-radius: var(--br-8);
    }
    &.lg {
      border-radius: var(--br-10);
    }
    &.xlg {
      border-radius: var(--br-12);
    }
  }
  &.br_round {
    border-radius: var(--br-50);
  }

  // & > button {
  //     width: 92px !important;
  // }
  & > span,
  & > ul {
    display: block;
    //width: calc(100% - 92px);
    flex-grow: 1;
    box-sizing: border-box;
    overflow-x: hidden;
    // width: calc(100% - 102px);
    display: flex;
    flex-wrap: wrap;
    border: 0;

    &.disabled {
      background-color: var(--gray-200);
    }
  }

  & > span {
    color: var(--gray-600);
    line-height: 1.2;
    overflow: hidden;
    margin: auto;
  }

  & > ul {
    // max-height: 70px;
    overflow-y: auto;

    li {
      line-height: 1.7rem !important;
      padding-left: 0 !important;

      &::before {
        content: unset !important;
      }

      button {
        svg {
          font-size: var(--fs-24);
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .files_box {
    & > span,
    & > ul {
      font-size: var(--fs-14);
    }

    /* border */
    &.br_square_round_1 {
      & > span,
      & > ul {
        border-radius: var(--br-3);
      }
    }
    &.br_square_round_2 {
      &.md {
        & > span,
        & > ul {
          border-radius: var(--br-8);
        }
      }
      &.lg {
        & > span,
        & > ul {
          border-radius: var(--br-10);
        }
      }
      &.xlg {
        & > span,
        & > ul {
          border-radius: var(--br-12);
        }
      }
    }
    &.br_round {
      & > span,
      & > ul {
        border-radius: var(--br-50);
      }
    }
  }
  .files_box .sm,
  .files_box button {
    display: inline-block;
    width: 100%;
  }
  .files_box .lg {
    font-size: var(--fs-14);
    padding: 10px !important;
  }
  .files_box li {
    font-size: var(--fs-14);
  }

  // -----
  .files_box {
    border: none;
    flex-wrap: wrap;

    & > ul,
    & > span {
      width: 100%;
      border: 1px solid var(--gray-300);
      padding: 1rem;
      box-sizing: border-box;
    }
    .btn_box {
      width: 100%;
    }
  }
}

//
.files_box button svg {
  vertical-align: middle;
}
