.file_input {
    width: 85px;
    display: inline-block;
}

.files_box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    &.inner {
        border-radius: var(--br-8);
        border: 1px solid var(--gray-300);
        &.xsm {
            // min-height: 2.4rem;
            max-height: 7.2rem;
            padding: 1.1rem 1.4rem;
        }
        &.sm {
            // min-height: 3.2rem;
            max-height: 9.6rem;
            padding: 0.5rem 12px;
        }
        &.md {
            // min-height: 4.4rem;
            max-height: 13.2rem;
            padding: 1.1rem 20px;
        }
        &.lg {
            min-height: 5.6rem;
            max-height: 16.8rem;
            padding: 0 24px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
        }
        &.xlg {
            min-height: 7.4rem;
            max-height: 22.2rem;
            padding: 0 24px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
        }
    }

    & > button {
        width: 92px !important;
    }
    & > span,
    & > ul {
        display: block;
        //width: calc(100% - 92px);
        flex-grow: 1;
        box-sizing: border-box;
        overflow-x: hidden;
        width: calc(100% - 102px);
        display: flex;
        flex-wrap: wrap;
        &.outer {
            border-radius: var(--br-8);
            border: 1px solid var(--gray-300);

            &.xsm {
                min-height: 2.8rem;
                max-height: 8.4rem;
                padding: 0.4rem 10px;
            }
            &.sm {
                min-height: 3.2rem;
                max-height: 9.6rem;
                padding: 0.5rem 12px;
            }
            &.md {
                min-height: 4.4rem;
                max-height: 13.2rem;
                padding: 1.1rem 20px;
            }
            &.lg {
                min-height: 5.6rem;
                max-height: 16.8rem;
                padding: 0 24px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6px;
            }
            &.xlg {
                min-height: 7.4rem;
                max-height: 22.2rem;
                padding: 0 24px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6px;
            }
        }

        &.disabled {
            background-color: var(--gray-200);
        }
    }

    & > span {
        color: var(--gray-600);
        line-height: 1.2;
        overflow: hidden;
    }

    & > ul {
        max-height: 70px;
        overflow-y: auto;

        li {
            line-height: 1.7rem !important;
            padding-left: 0 !important;

            &::before {
                content: unset !important;
            }

            button {
                svg {
                    font-size: var(--fs-24);
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .files_box {
        & > span,
        & > ul {
            font-size: var(--fs-14);
        }
    }
    .files_box .sm,
    .files_box button {
        display: inline-block;
        width: 100%;
    }
    .files_box .lg {
        font-size: var(--fs-14);
        padding: 10px !important;
    }
    .files_box li {
        font-size: var(--fs-14);
    }
}
.files_box button svg {
    vertical-align: middle;
}
